@font-face {
    font-family: 'Bad';
    src: url(BadScript-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad';
}

.birthday{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
    z-index: 99;
}

.birthday h2{
    display: flex;
    color: transparent;
    font-size: 15vw;
    z-index: 99;
}

.birthday h2 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
    z-index: 99;
}

@keyframes animate{
    0%{
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
    }
    30%, 70%{
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #111;
    z-index: -1;
}

.boll{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}
    
.boll span{
    position: relative;
    width: 30px;
    height: 30px;
    color: blue;
    transform: rotate(90deg);
    /*border-radius: 50%;
    background: blue;*/
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
    animation: animateBoll 400s linear infinite;
    animation-duration: calc(50s / var(--j));
}

.boll span:nth-child(even){
    color: palevioletred;
    text-shadow: 0 0 10px palevioletred, 0 0 20px palevioletred, 0 0 30px palevioletred, 0 0 40px palevioletred;
}

@keyframes animateBoll{
    0%{
        transform: translateY(100vh) scale(0);
        }
    100%{
        transform: translateY(-10vh) scale(1);
        }
}

@media (width > 800px) {
    h2{
        font-size: 5vw;
    }
}
@media (width > 800px) {
    h2{
        font-size: 5vw;
    }
}
